$color-button : #d88632;
$links-color : #666666;
$background-nav : #fff2e5;
$color-hover : #d23d07;


// sombras

$shadows-principal:  0 1px 4px hsl(0 4% 15% / 10%);


// fonts

$font-principal: poppins;
