@import 'header';
@import 'nav';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: $font-principal;
}
.container {
    max-width: 980px;
    margin: 0 auto;

}